/* Colors variables */
:root {
  --primaryLight: #ffffff;
  --secondaryLight: #f5f4fa;
  --primaryDark: #212121;
  --secondaryDark: #757575;
  --tretiaryDark: rgba(255, 255, 255, 0.6);

  --footerBg: #2f303a;
  --heroBg: #c4c4c4;

  --accent: #2196f3;
  --heroAccent: #188ce8;

  --IconsPrimaryBg: #afb1b8;
  --IconsSecondaryBg: rgba(255, 255, 255, 0.1);
  --projectOverlayBg: rgba(33, 150, 243, 0.9);
  --backdropBg: rgba(0, 0, 0, 0.2);

  --modalFormBorder: rgba(33, 33, 33, 0.2);
  --placeholder: rgba(117, 117, 117, 0.5);

  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Utilities */

html {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;

  background-color: var(--primaryLight);
  color: var(--primaryDark);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo.link {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  font-family: Raleway, sans-serif;
}

.logo__particle {
  color: var(--accent);
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style-type: none;
}

.icon {
  fill: currentColor;
}

.textarea {
  resize: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Button Utilities */

.button {
  border: 1px solid transparent;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;
  text-align: center;

  background-color: var(--primaryLight);
  color: var(--primaryDark);
}

.button__primary {
  background-color: var(--accent);
  color: var(--primaryLight);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button__primary:hover,
.button__primary:focus {
  background-color: var(--heroAccent);
}

.button__secondary {
  padding: 6px 22px;

  background-color: var(--secondaryLight);
  color: var(--primaryDark);
}

.button__secondary:hover,
.button__secondary:focus {
  background-color: var(--accent);
  color: var(--primaryLight);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Header */

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.header__pages {
  display: flex;
  gap: 50px;
  margin-left: 93px;
}

.header__link {
  position: relative;
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms var(--cubic);
}

.header__pages .link:hover,
.header__pages .link:focus,
.header__contacts .link:hover,
.header__contacts .link:focus {
  color: var(--accent);
}

.header__link--current {
  color: var(--accent);
}

.header__link--current::after {
  position: absolute;
  content: "";

  width: 100%;
  height: 4px;
  bottom: -1px;

  border-radius: 2px;
  background-color: var(--accent);

  opacity: 1;
}

.header__contacts {
  display: flex;
  margin-left: auto;
  gap: 40px;

  color: var(--secondaryDark);
}

.header__icon {
  margin-right: 10px;
}

/* Main Studio */
/* Sections */

.section__title {
  margin-bottom: 50px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

/* Hero */

.hero {
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--heroBg);
  background-image: linear-gradient(
      0,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url("../images/studio/hero.jpg");
}

.hero .container {
  text-align: center;
}

.hero .button {
  padding: 10px 24px;
  min-width: 200px;
  min-height: 50px;
  transition: background-color 250ms var(--cubic);
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primaryLight);
}

/* Out benefits */

.benefits__list {
  display: flex;
  gap: 30px;
}

.benefits__item {
  flex-basis: calc((100% - 90px) / 4);
}

.benefit__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--secondaryLight);
}

.benefit__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.benefit__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondaryDark);
}

/* Our product */

.product {
  padding-top: 0;
}

.product__list {
  display: flex;
  gap: 30px;
}

.product__thumb {
  position: relative;
}

.product__thumb::before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
}

.product__description {
  position: absolute;
  bottom: 27px;
  left: 50%;
  transform: translate(-50%, 0);

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primaryLight);
}

/* Out Team */

.team {
  background-color: var(--secondaryLight);
}

.team__list {
  display: flex;
  gap: 30px;
}

.team__item {
  flex-basis: calc((100% - 90px) / 4);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primaryLight);
}

.employee__box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.employee__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primaryDark);
}

.employee__description {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondaryDark);
}

.socials__links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;

  color: var(--IconsPrimaryBg);
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic);
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--accent);
  color: var(--primaryLight);
}

/* Our Customers */
.customers__list {
  display: flex;
  gap: 30px;
}

.customers__item {
  flex-basis: calc((100% - 150px) / 6);
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid var(--IconsPrimaryBg);
  border-radius: 4px;
  color: var(--IconsPrimaryBg);
  transition: border-color 250ms var(--cubic), color 250ms var(--cubic);
}

.customers__link:hover,
.customers__link:focus {
  color: var(--accent);
  border-color: var(--accent);
}

/* Main Portfolio */

.filter__list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic),
    box-shadow 250ms var(--cubic);
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects__item {
  flex-basis: calc((100% - 60px) / 3);
}

.projects__link {
  display: block;
  transition: box-shadow 250ms var(--cubic);
}

.projects__link:hover,
.projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__thumb {
  display: flex;
  position: relative;

  overflow: hidden;
}

.projects__overlay {
  display: flex;
  position: absolute;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
  overflow: auto;

  background: var(--projectOverlayBg);
}

.projects__poptext {
  position: absolute;
  padding: 0px 24px;
  max-height: 100%;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--primaryLight);
}

.projects__link:hover .projects__overlay,
.projects__link:focus .projects__overlay {
  transform: translateY(0);
}

.projects__box {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.projects__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.projects__description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--secondaryDark);
}

/* Backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--backdropBg);

  opacity: 1;
  visibility: visible;

  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.backdrop--is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.backdrop--is-hidden .modal {
  transform: scale(0.9);
}

/* Modal window */

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;

  transform: scale(1);
  transition: transform 250ms var(--cubic);
}

.modal__container {
  position: relative;
  padding: 40px;
  height: 100%;
  max-height: 581px;
  width: 100%;
  max-width: 528px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background-color: var(--primaryLight);

  overflow-y: auto;
}

.modal__close {
  position: absolute;
  right: 8px;
  top: 8px;

  box-sizing: border-box;
  height: 100%;
  width: 100%;
  max-width: 30px;
  max-height: 30px;
  padding: 0;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: color 250ms var(--cubic);
}

.modal__close:hover,
.modal__close:focus {
  color: var(--accent);
}

.modal__title {
  display: inline-block;
  width: 100%;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.form {
  max-width: 448px;
}

/* form-field */

.form-field__control {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field__label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.01em;

  color: var(--secondaryDark);
}

.form-field__input {
  padding: 12px 12px 12px 42px;

  max-height: 40px;

  border: 1px solid var(--modalFormBorder);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic);
}

.form-field__textarea-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-field__textarea {
  padding: 12px 16px;
  min-height: 120px;

  border: 1px solid var(--modalFormBorder);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic);
}

.form-field__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--placeholder);
}

.form-field__input:hover,
.form-field__input:focus,
.form-field__textarea:hover,
.form-field__textarea:focus {
  border-color: var(--accent);
}

.form-field__input:hover + .form-field__icon,
.form-field__input:focus + .form-field__icon {
  fill: var(--accent);
}

.form-field__icon {
  position: absolute;
  top: 50%;
  transform: translate(12px, -50%);
  transition: fill 250ms var(--cubic);
  pointer-events: none;
}

/* Form-field → Policy */

.policy {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 30px;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;

  border: 2px solid var(--primaryDark);
  border-radius: 2px;

  fill: transparent;
}

.policy__checkbox:checked + .checkbox__icon {
  border-color: var(--accent);
  background-color: var(--accent);
  fill: var(--primaryLight);
}

.policy__description {
  display: flex;
  align-items: center;
  gap: 8.38px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondaryDark);
}

.policy__link {
  text-decoration: underline;

  color: var(--accent);
}

.form__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  min-height: 50px;

  transition: background-color 250ms var(--cubic);
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footerBg);
}

.footer__container {
  display: flex;
  align-items: baseline;
  margin-right: auto;
  gap: 70px;
}

.footer__logo {
  display: block;
  margin-bottom: 28px;
}

.footer__logo,
.footer__location {
  color: var(--primaryLight);
}

.footer__email,
.footer__phone {
  color: var(--tretiaryDark);
}

.footer__item {
  margin-bottom: 12px;
}

.footer__item:last-child {
  margin-bottom: 0;
}

.footer__link {
  display: block;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms var(--cubic);
}

.footer__link:hover,
.footer__link:focus {
  color: var(--accent);
}

/* Footer → Socials */

.socials {
  color: var(--primaryLight);
}

.socials__title {
  margin-bottom: 20px;

  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.socials__links {
  padding: 0px 0px;
}

.socials .socials__link {
  background-color: var(--IconsSecondaryBg);
  color: var(--primaryLight);
  transition: background-color 250ms var(--cubic);
}

.socials .socials__link:hover,
.socials .socials__link:focus {
  background-color: var(--accent);
}

/* Footer → Subscribe  */

.subscribe {
  margin-left: auto;
  max-width: 570px;
  width: 100%;
}

.subscribe__title {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 0.875;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primaryLight);
}

.subscribe__container {
  display: flex;
  gap: 12px;

  min-height: 50px;
}

.subscribe__input {
  padding: 15px 16px;
  width: 100%;

  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.25;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  color: var(--primaryLight);
  background-color: var(--footerBg);
}

.subscribe__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 200px;
  min-height: 50px;

  background-color: var(--accent);
  color: var(--primaryLight);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
}
